
/* Start Variable */


:root {
    --primary-color : rgb(20, 218, 218);
}
/* End variable */

/* Start components */
.section-title {
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 29px;
    font-family: "Playwrite AU NSW", cursive;
}

.section-title .title {
    font-weight: 700;
    font-size: 29px;
    font-family: "Playwrite AU NSW", cursive;
}

.section-title .section-line {
    width: 60px;
    height: 5px;
    background-color: aqua;
}

/* transition: transform 0.3s;
content: '';
position: absolute; */

/* .section-title .title::after{
    transform: scaleX(1);
} */


/* End components  */




body {
    margin: 0;
    padding: 0;
    background-color: rgb(138, 132, 132);
}

.container {
    min-height: 100vh;
    margin-right: 30px;
    margin-left: 30px;
    width: calc(100%-60px);
    background-color: rgb(66, 63, 63);
    color: white;
}
/* START NAV-BAR */
.container .navbar {
    width: calc(100%-40px);
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.container .navbar .logo {
    font-weight: 700;
    font-size:23px;
    font-family: "Sansation", sans-serif;
    cursor: pointer;
}

.container .navbar .logo span {
    color: var(--primary-color);
}

.container .navbar ul {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

 .container .navbar ul li {
    width: 110px;
    list-style: none;
    font-weight: 500;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

/* .container .navbar ul li:hover {
    color: rgb(37, 172, 172); */
/* } */

.li-active {
    color: var(--primary-color)
}

.container .navbar ul li .line {
    width: 30px;
    height: 3px;
  
    position: absolute;
    bottom: -5px;
    right: 35px;
}
.container .navbar ul li:hover .line {
    /* width: 30px;
    height: 3px; */
    background-color: rgb(57, 219, 224);
    /* position: absolute;
    bottom: -5px;
    right: 35px; */
}

.line-active {
    background-color: rgb(57, 219, 224);
}

/* END NAV-BAR */

/* START HOME */

.container .home {
    background-color: rgba(73, 48, 27, 0.712);
    width: calc(100%-40px);
    min-height: calc(100vh - 130px);
    padding: 40px;
}

.container .home .title {
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    font-family: "Chiron Hei HK", sans-serif;
}

.container .home .title span {
    color: rgb(45, 230, 230);
}

.container .home .sub-title {
    width: 100%;
    height: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.container .home .description {
    width: 100%;
    display: flex;
    justify-content: center
}

.container .home .description .desc-body {
    width:600px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container .home .btn {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .home .btn button {
    width: 290px;
    height: 30px;
    border: none;
    outline: none;
    border: 1px solid gray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    background-color: black;
    color:rgba(11, 126, 179, 0.938);
    border-radius: 7px;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.863);
}

.container .home .btn button:first-child {
    background-color: rgb(234, 238, 240);
    margin-right: 20px;
}

.container .home .btn button:first-child:hover {
    background-color: rgb(59, 74, 78);
}

.container .home .btn button:nth-child(2):hover {
    background-color: rgb(59, 74, 78);
}

.container .home .btn button:nth-child(2) {
    background-color: rgb(238, 240, 241);
    margin-right: 20px;
}

/* start about */
.About .infos .title {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.About .infos .paragraphe {
    width: 700px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* end about */













/* END HOME */






    


